.DS_Store

# build result
UnityProject/iosBuild/**
!UnityProject/iosBuild/
!UnityProject/iosBuild/**/.gitkeep

UnityProject/androidBuild/**
!UnityProject/androidBuild/
!UnityProject/androidBuild/**/.gitkeep